<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>MIDI Host</string>
	<key>CFBundleExecutable</key>
	<string>MIDIHost</string>
	<key>CFBundleIconFile</key>
	<string>MIDIHost.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.local.midihost</string>
	<key>CFBundleName</key>
	<string>MIDI Host</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
